<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.mapper.AddressMapper">
    <select id="selectByUsername" resultType="map">
        SELECT * FROM user_address WHERE username=#{username} ORDER BY is_default DESC, id DESC
    </select>
    <select id="selectById" resultType="map">
        SELECT * FROM user_address WHERE id=#{id} AND username=#{username}
    </select>
</mapper>
