<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.mapper.MessageMapper">
    <select id="selectByUsername" resultType="map">
        SELECT * FROM sys_message WHERE username=#{username} ORDER BY id DESC
    </select>
</mapper>
