<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.mapper.RecommendMapper">

    <select id="selectInteractedTicketItemIds" resultType="long">
        SELECT DISTINCT `${itemFk}` FROM `${ticketTable}`
        WHERE username=#{username} AND status&lt;&gt;'rejected' AND `${itemFk}` IS NOT NULL
    </select>

    <select id="selectCategoryCounts" resultType="map">
        SELECT category_id AS cid, COUNT(*) AS cnt FROM `${itemTable}`
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
        GROUP BY category_id
    </select>

    <select id="selectAllCategories" resultType="map">
        SELECT id, name FROM `${catTable}`
    </select>

    <select id="selectIdsByCategories" resultType="long">
        SELECT b.id FROM `${itemTable}` b
        ${hotJoin}
        WHERE b.category_id IN
        <foreach collection="categoryIds" item="cid" open="(" separator="," close=")">#{cid}</foreach>
        <if test="excludeIds != null and excludeIds.size() &gt; 0">
            AND b.id NOT IN
            <foreach collection="excludeIds" item="eid" open="(" separator="," close=")">#{eid}</foreach>
        </if>
        ORDER BY COALESCE(h.hot,0) DESC, b.id DESC
        LIMIT #{limit}
    </select>

    <select id="selectHotIds" resultType="long">
        SELECT b.id FROM `${itemTable}` b
        ${hotJoin}
        WHERE COALESCE(h.hot,0) &gt; 0
        <if test="excludeIds != null and excludeIds.size() &gt; 0">
            AND b.id NOT IN
            <foreach collection="excludeIds" item="eid" open="(" separator="," close=")">#{eid}</foreach>
        </if>
        ORDER BY h.hot DESC, b.id DESC
        LIMIT #{limit}
    </select>

    <select id="selectLatestIds" resultType="long">
        SELECT id FROM `${itemTable}` WHERE 1=1
        <if test="excludeIds != null and excludeIds.size() &gt; 0">
            AND id NOT IN
            <foreach collection="excludeIds" item="eid" open="(" separator="," close=")">#{eid}</foreach>
        </if>
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
